.hidden {
  display: none;
}

.inactivelink {
  pointer-events: none;
  color: #777;
}

.progress {
  position: absolute;
  width: 50%;
  top: 20%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}
