.country {
  fill: #DB8
}

.country.upcoming {
  fill: #0F7173;
}

.country.highlighted {
  fill: #F05D5E;
}

.country.ghost {
  fill: #CCC;
  fill-opacity: 0.5;
}

.border {
  stroke: #FFF;
  stroke-width: 1.5;
  fill: none;
  stroke-linejoin: round;
}

.border.ghost {
  stroke-dasharray: 2,2;
}

.border.highlighted {
  stroke: #f00;
}

.country-label.highlighted {
  font-weight: bold;
}

.root {
  stroke-width: 0px;
  background-color: #cff;
}
